body {
  margin: 0;
  background: black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
 
  padding-top: 120px;
}


.product-card {
  width: 800px;
  height: 500px;
  background: white;
  display: flex;
  overflow: hidden;
  border-radius: 6px;
}

.left-img-col {
  width: 50%;
  height: 100%;
}

.left-img-col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.right-info-col {
  width: 50%;
  height: 100%;

  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}


.right-info-col h3 {
  font-size: 32px;
  color: black;
  margin: 0;
}

.right-info-col h5 {
  font-size: 18px;
  color: lightgray; /* 2) */
  margin: 15px 0 0 0;
  letter-spacing: 1px;
}


.right-info-col p {
  font-size: 14px;
  color: black;
  margin: 20px 0 0 0;
  padding-left: 50px;
  line-height: 1.35;
}

.available-colors {
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
}


.available-colors span:first-child {
  font-size: 14px;
  color: black;
  margin-right: 10px;
}

.black-color-container,
.red-color-container,
.white-color-container {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}


.black-color-container {
  background: black;
}
.red-color-container {
  background: red;
}
.white-color-container {
  background: beige;
}

.price {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price h4 {
  font-size: 32px;
  color: black;
  margin: 0;
}

.buy-btn {
  width: 150px;
  height: 40px;
  background: black;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 700;
}

.right-info-col {
  padding-bottom: 20px;
}
